<%- include('partials/header') %>

	<div class="container section_principal">
	<form id="formNewBlock" action="/article/<%= Article._id %>?_method=PUT" method="POST">
		<div class="blockInNewBlock">
			<input type="text" id="title" name="title" value="<%=Article.name%>" required>
		</div>
		<div class="blockInNewBlock">
			<textarea type="text" id="text" name="text"  required rows="10"><%= Article.text %></textarea>
		</div>

		<div class="submitNewBlock">
			<input type="submit" id="submit" value="Valider">
		</div>
	</form>
</div>

<script>
	let sub = document.getElementById('submit');
	let sec = document.getElementsByClassName('section_principal');
	let load = document.getElementById('loader');


	sub.addEventListener('click', e => {
		for(let i=0; i<section.length; i++){
			sec[i].style.display='none';
		}
		load.style.display='block';
	});
</script>
<%- include('partials/footer') %>